body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    color: white;
    padding: 1rem 2rem;
}

.logo {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
    cursor: default;
}

nav li a:hover {
    font-weight: bold;
}

.slider img {
    width: 100%;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.container {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.contant {
    flex: 3;
}

.contant article {
    background-color: aliceblue;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px gray;
    border-radius: 8px;
}

.contant article img {
    width: 100%;
    border-radius: 10px;
}

.slide-bar {
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

.slide-bar ul {
    list-style-type: square;
}

.slide-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
}

.slide-bar ul li a:hover {
    text-shadow: 5px 5px 20px black;
}