body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    color: white;
    padding: 1rem 2rem;
}

.logo {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
    cursor: default;
}

nav li a:hover {
    font-weight: bold;
}

.slider img {
    width: 100%;
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.container {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.contant {
    flex: 3;
}

.contant article {
    background-color: aliceblue;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px gray;
    border-radius: 8px;
}

.contant article img {
    width: 100%;
    border-radius: 10px;
}

.slide-bar {
    background-color: aliceblue;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    border: 2px solid rgb(161, 161, 174);
}

.slide-bar ul {
    list-style-type: square;
}

.slide-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1rem;
}

.slide-bar ul li a:hover {
    text-shadow: 5px 5px 20px black;
}

.navbar a.active {
    background-color: whitesmoke;
    color: navy;
    padding: 5px;
    border-radius: 5px;
}

.container-dastination {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.grad {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    gap: 20px;
}

.Dastination_Card {
    background: transparent;
    border: 3px solid wheat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(138, 129, 129);
    color: rgb(114, 89, 40);
}

.Dastination_Card h3 {
    margin-top: 0;
    color: rgb(96, 63, 63);
    padding: 0 0 0 30px;
    background-color: rgb(189, 184, 184);
    margin: 0 0;
    text-align: center;
}

.Dastination_Card p {
    color: rgb(63, 33, 33);
    letter-spacing: 1px;
}